@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.inicio{
    background-color: #f54a6f;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #000000;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.5s;
}

.navbar img{
    position: relative;
    right: 130px;
}

.navbar ul{
    display: flex;
    position: relative;
    left: 200px;
    gap: 5rem;
    color: #e23457;
}
.navbar ul li a{
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s;
}
/* .navbar ul li a:hover{
    color: var(--red);
} */
.navbar i{
    cursor: pointer;
    font-size: 1.5rem;
}
.navbar .nav {
    position: relative;
    left: 200px;
}
.navbar .form{
    position: relative;
    left: 350px;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}

@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }

}


.wk-desk-1 {
    width: 8.333333%;
  }
  
  .wk-desk-2 {
    width: 16.666667%;
  }
  
  .wk-desk-3 {
    width: 25%;
  }
  
  .wk-desk-4 {
    width: 33.333333%;
  }
  
  .wk-desk-5 {
    width: 41.666667%;
  }
  
  .wk-desk-6 {
    width: 50%;
  }
  
  .wk-desk-7 {
    width: 58.333333%;
  }
  
  .wk-desk-8 {
    width: 66.666667%;
  }
  
  .wk-desk-9 {
    width: 75%;
  }
  
  .wk-desk-10 {
    width: 83.333333%;
  }
  
  .wk-desk-11 {
    width: 91.666667%;
  }
  
  .wk-desk-12 {
    width: 100%;
  }
  
  @media (max-width: 1024px) {
    .wk-ipadp-1 {
      width: 8.333333%;
    }
  
    .wk-ipadp-2 {
      width: 16.666667%;
    }
  
    .wk-ipadp-3 {
      width: 25%;
    }
  
    .wk-ipadp-4 {
      width: 33.333333%;
    }
  
    .wk-ipadp-5 {
      width: 41.666667%;
    }
  
    .wk-ipadp-6 {
      width: 50%;
    }
  
    .wk-ipadp-7 {
      width: 58.333333%;
    }
  
    .wk-ipadp-8 {
      width: 66.666667%;
    }
  
    .wk-ipadp-9 {
      width: 75%;
    }
  
    .wk-ipadp-10 {
      width: 83.333333%;
    }
  
    .wk-ipadp-11 {
      width: 91.666667%;
    }
  
    .wk-ipadp-12 {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .wk-tab-1 {
      width: 8.333333%;
    }
  
    .wk-tab-2 {
      width: 16.666667%;
    }
  
    .wk-tab-3 {
      width: 25%;
    }
  
    .wk-tab-4 {
      width: 33.333333%;
    }
  
    .wk-tab-5 {
      width: 41.666667%;
    }
  
    .wk-tab-6 {
      width: 50%;
    }
  
    .wk-tab-7 {
      width: 58.333333%;
    }
  
    .wk-tab-8 {
      width: 66.666667%;
    }
  
    .wk-tab-9 {
      width: 75%;
    }
  
    .wk-tab-10 {
      width: 83.333333%;
    }
  
    .wk-tab-11 {
      width: 91.666667%;
    }
  
    .wk-tab-12 {
      width: 100%;
    }
  }
  
  @media (max-width: 500px) {
    .wk-mobile-1 {
      width: 8.333333%;
    }
  
    .wk-mobile-2 {
      width: 16.666667%;
    }
  
    .wk-mobile-3 {
      width: 25%;
    }
  
    .wk-mobile-4 {
      width: 33.333333%;
    }
  
    .wk-mobile-5 {
      width: 41.666667%;
    }
  
    .wk-mobile-6 {
      width: 50%;
    }
  
    .wk-mobile-7 {
      width: 58.333333%;
    }
  
    .wk-mobile-8 {
      width: 66.666667%;
    }
  
    .wk-mobile-9 {
      width: 75%;
    }
  
    .wk-mobile-10 {
      width: 83.333333%;
    }
  
    .wk-mobile-11 {
      width: 91.666667%;
    }
  
    .wk-mobile-12 {
      width: 100%;
    }
  }
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-image: url("https://www.socialbauru.com.br/wp-content/uploads/2021/11/petite-doces-bolos-bauru-capa-1240x540.jpg");
    background-position-x: initial;
    background-position-y: initial;
    background-size: cover;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
  }
  
  .responsive-container-block.Container {
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: 60px;
    background-color: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.heading {
    font-size: 60px;
    line-height: 70px;
    font-weight: 800;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    color: #f54a6f;
    text-shadow: #00000081 0.1em 0.1em 0.2em;
  }

.text-blk.heading span{
    color: #F5D97E;
    text-shadow: #00000081 0.1em 0.1em 0.2em;
}
  
  .text-blk.subHeading {
    position: relative;
    left: -20px;
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
    color: #000000;
  }
  .button {
    position: relative;
    left: -240px;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f54a6f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #eee;
  }
  
  .button:hover {background-color: #e23457}
  
  .button:active {
    background-color: #f54a6f;
    box-shadow: 0 5px #dddddd;
    transform: translateY(4px);
  }
  
  
  @media (max-width: 768px) {
    .text-blk.heading {
      font-size: 55px;
      line-height: 65px;
    }
  
    .text-blk.subHeading {
      font-size: 18px;
      line-height: 24px;
    }
  
    .text-blk.subHeading {
      line-height: 27px;
    }
  
    .text-blk.heading {
      font-size: 32px;
      line-height: 40px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .text-blk.heading {
      font-size: 45px;
      line-height: 55px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .text-blk.subHeading {
      font-size: 14px;
      line-height: 22px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
  
    .text-blk.subHeading {
      font-size: 16px;
      line-height: 23px;
    }
  
    .text-blk.heading {
      font-size: 26px;
      line-height: 30px;
    }
  }

  .ttl{
    position: relative;
    top: 20px;
    font-size: 50px;
    color: #f54a6f;
    text-align: center;
    padding-top: 50px;
    font-family: 'poppins', sans-serif;
    text-shadow: .05em .05em 0 #2b221a;
    
  }
  
  .l-cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 300px);
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    left: 50px;
    top: -250px;
    padding: 360px;
    
  }
  
  .c-card {
    background-color: #FF8E9E;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
  }
  .c-card__image {
      align-items: center;
      background-color: #b5b9c1;
      border-top-left-radius:.6rem;
      border-top-right-radius: .6rem;
      display: flex;
      flex: 5;
      justify-content: center;
      overflow: hidden;
    }
    
    .c-card__content {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-around;
      padding: 15px;

    }
    .c-card__content h4{
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
    }
  .c-card__content btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f54a6f;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .c-card__content .btn:hover {
    background-color: #ffffff;
    color: #f54a6f;
  }
  footer{
    position: relative;
    
    bottom: 0px;
    width: 100%;
    background: #f54a6f;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #F5D97E;
  }
  .content p{
    color: #EEEEEE;
  }
  .content  span{
    color: #EEEEEE;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:after{
    position: absolute;
    content: '';
    width: 15%;
    height: 2px;
    background: #ffffff;
    top: -10px;
  }
  .box .content:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #EEEEEE;
    top: -10px;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: #fae49c;
  }
  .left .content p{
    text-align: justify;
  }
  .center .content .fas{
    font-size: 23px;
   
    width: 45px;
    height: 45px ;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #fae49c;
  }
  .center .content .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 10px 0;
  }
  .center .content .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 17px;
    background: #ffffff;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input{
    height: 35px;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #dedede;
  }
  .right form .text{
    font-size: 17px;
    margin-bottom: 2px;
    color: #ffffff;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    background: #F5D97E;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #f5d97e98;
  }
  .bottom .center{
    padding: 5px;
    font-size: 15px;
    background: #151515;
    text-align: center;
  }
  .bottom .center span{
    color: #656565;
  }
  .bottom .center a{
    color: #f54a6f;
    text-decoration: none;
  }
  .bottom .center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px){
    footer{
        position: fixed;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
  }
  